@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        outline: none;
        list-style-type: none;
    }

    html {
        scroll-behavior: smooth;
    }

    h1 {
        @apply text-8xl lg:text-8xl md:text-6xl sm:text-4xl;
    }

    h2 {
        @apply text-6xl lg:text-6xl md:text-4xl sm:text-2xl;
    }

    h3 {
        @apply text-4xl lg:text-4xl md:text-2xl sm:text-xl;
    }

    h4 {
        @apply text-xl lg:text-xl md:text-lg sm:text-base;
    }

    h5 {
        @apply text-lg lg:text-lg md:text-base sm:text-sm;
    }

    h6 {
        @apply text-base lg:text-base md:text-sm sm:text-xs;
    }
    
}

/* Burger */

@keyframes burger-hover {
    0%, 100% {
        transform: translateX(0);
        opacity: 1;
    }
    25% {
        transform: translateX(10px);
        opacity: 1;
    }
    50% {
        transform: translateX(100%);
        opacity: 0;
    }
    75% {
        transform: translateX(-10px);
        opacity: 0;
    }
}

.hamburger-button:hover span:nth-child(1) {
    animation: burger-hover 1s ease-in-out  0.3s;
}

.hamburger-button:hover span:nth-child(2) {
    animation: burger-hover 1s ease-in-out  0.45s;
}

.hamburger-button:hover span:nth-child(3) {
    animation: burger-hover 1s ease-in-out  0.6s;
}

/* Navbar */
.menu-open {
    transform: translateX(0%);
}

.menu-closed {
    transform: translateX(-100%);
}

.menu-transition-in {
    transition: transform 0.3s ease-in;
}

.menu-transition-out {
    transition: transform 0.7s ease-out 0.3s;
}


@keyframes page-footer {
    0%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        transform: translateY(10px);
        opacity: 1;
    }
    50% {
        transform: translateY(100%);
        opacity: 0;
    }
    75% {
        transform: translateY(-10px);
        opacity: 0;
    }
}

