@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
		outline: none;
		list-style-type: none;
	}

	html {
		scroll-behavior: smooth;
	}

	/* h1 {
		@apply sm:text-2xl md:text-4xl lg:text-6xl;
	}

	h2 {
		@apply sm:text-2xl md:text-4xl lg:text-6xl;
	}

	h3 {
		@apply sm:text-xl md:text-2xl lg:text-4xl;
	}

	h4 {
		@apply sm:text-base md:text-lg lg:text-xl;
	}

	h5 {
		@apply sm:text-sm md:text-base lg:text-lg;
	}

	h6 {
		@apply sm:text-xs md:text-sm lg:text-base;
	} */
}

@keyframes burger-hover {
	0%,
	100% {
		transform: translateX(0);
		opacity: 1;
	}
	25% {
		transform: translateX(10px);
		opacity: 1;
	}
	50% {
		transform: translateX(100%);
		opacity: 0;
	}
	75% {
		transform: translateX(-10px);
		opacity: 0;
	}
}

.hamburger-button:hover span:nth-child(1) {
	animation: burger-hover 1s ease-in-out 0.3s;
}

.hamburger-button:hover span:nth-child(2) {
	animation: burger-hover 1s ease-in-out 0.45s;
}

.hamburger-button:hover span:nth-child(3) {
	animation: burger-hover 1s ease-in-out 0.6s;
}

@keyframes slideDown {
	from {
		background-position: top;
		background-size: 100% 0%;
	}
	to {
		background-position: top;
		background-size: 100% 100%;
	}
}

.nav-slide-down {
	background-image: linear-gradient(to bottom, white 0%, white 100%);
	background-repeat: no-repeat;
	background-size: 100% 0%;
	animation: slideDown 1s forwards;
}

/* 
.menu-open {
	transform: translateX(0%);
}

.menu-closed {
	transform: translateX(-100%);
}

.menu-transition-in {
	transition: transform 0.3s ease-in;
}

.menu-transition-out {
	transition: transform 0.7s ease-out 0.3s;
}

*/

@keyframes page-footer {
	0%,
	100% {
		transform: translateY(0);
		opacity: 1;
	}
	25% {
		transform: translateY(10px);
		opacity: 1;
	}
	50% {
		transform: translateY(100%);
		opacity: 0;
	}
	75% {
		transform: translateY(-10px);
		opacity: 0;
	}
}

@keyframes vertical-spin {
	from {
		top: calc(0% - 3rem);
	}
	to {
		top: calc(100% + 1.5rem);
	}
}

.vertical-spin {
	animation: vertical-spin 2s infinite linear;
}

.component {
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

.imageWrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url('/background/1.jpg'); /* Reemplaza con tu imagen */
	background-size: cover;
	background-position: center;
	backface-visibility: hidden;
	transition: transform 0.5s ease-in-out 0.1s;
	transform: scale(1.5);
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	backface-visibility: hidden;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	transition: clip-path 0.3s ease-in-out;
}

.component:hover .imageWrapper {
	transform: scale(1);
}

.component:hover .overlay {
	animation: revealOverlay 0.1s forwards ease-in-out;
}

@keyframes revealOverlay {
	0% {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
	10% {
		clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
	}
	20% {
		clip-path: polygon(0 10%, 100% 20%, 100% 100%, 0% 100%);
	}
	30% {
		clip-path: polygon(0 20%, 100% 30%, 100% 100%, 0% 100%);
	}
	40% {
		clip-path: polygon(0 30%, 100% 40%, 100% 100%, 0% 100%);
	}
	50% {
		clip-path: polygon(0 40%, 100% 50%, 100% 100%, 0% 100%);
	}
	60% {
		clip-path: polygon(0 50%, 100% 60%, 100% 100%, 0% 100%);
	}
	70% {
		clip-path: polygon(0 60%, 100% 70%, 100% 100%, 0% 100%);
	}
	80% {
		clip-path: polygon(0 70%, 100% 80%, 100% 100%, 0% 100%);
	}
	90% {
		clip-path: polygon(0 80%, 100% 90%, 100% 100%, 0% 100%);
	}
	100% {
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	}
}

/* Animación inversa al quitar el hover */
.component:not(:hover) .overlay {
	animation: hideOverlay 0.1s forwards ease-in-out;
}

@keyframes hideOverlay {
	100% {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
	90% {
		clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
	}
	80% {
		clip-path: polygon(0 10%, 100% 20%, 100% 100%, 0% 100%);
	}
	70% {
		clip-path: polygon(0 20%, 100% 30%, 100% 100%, 0% 100%);
	}
	60% {
		clip-path: polygon(0 30%, 100% 40%, 100% 100%, 0% 100%);
	}
	50% {
		clip-path: polygon(0 40%, 100% 50%, 100% 100%, 0% 100%);
	}
	40% {
		clip-path: polygon(0 50%, 100% 60%, 100% 100%, 0% 100%);
	}
	30% {
		clip-path: polygon(0 60%, 100% 70%, 100% 100%, 0% 100%);
	}
	20% {
		clip-path: polygon(0 70%, 100% 80%, 100% 100%, 0% 100%);
	}
	10% {
		clip-path: polygon(0 80%, 100% 90%, 100% 100%, 0% 100%);
	}
	0% {
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	}
}
